@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

div.lucid-datatable table {
  tr {
    td {
      @apply p-2;
    }
  }

  thead {
    tr {
      td {
        @apply cursor-pointer;

        span {
          @apply flex;
          @apply items-center justify-between;
        }
      }
    }
  }

  tbody {
    tr {
      @apply cursor-pointer;
      @apply hover:bg-zinc-100;
    }

    tr.lucid-datatable-row-selected {
      @apply bg-blue-200;
    }

  }
}
