@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  // display: flex;
  // place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1.4rem;

  @apply text-zinc-950;
  @apply bg-zinc-800;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer lucid-components;
div.lucid-datatable {
  // @apply shadow-lg;
  @apply bg-white;
  @apply p-2;

  * {
    @apply transition duration-[0.01s];
  }
  @apply border border-zinc-400;

  div.lucid-datatable-controls {
    // @apply bg-zinc-200;
  }

  table {
    @apply border-l-0 border-r-0;
    // @apply border-zinc-400;
    // @apply table-fixed;

    tr {
      td {
        @apply py-4 px-3;
        // @apply border-zinc-600;
      }
      td {
        @apply border-l-0;
      }
      td {
        @apply border-r-0;
      }
    }

    thead {
      // @apply border-b border-t border-zinc-400;
      box-shadow: 0 1px 0 #a1a1aa;
      @apply bg-white;

      tr {
        // @apply bg-zinc-200;

        th {
          @apply border-0;
          @apply cursor-pointer;
          @apply py-4 pb-3 px-3;
          @apply hover:text-zinc-500 text-zinc-900;
            @apply font-semibold;
          // @apply font-normal;
          // @apply border border-zinc-600;

          span {
            @apply flex;
            @apply items-center justify-between;
          }
        }

        th:first-of-type {
          @apply border-l-0;
        }
        th:last-of-type {
          @apply border-r-0;
        }
      }
    }

    tbody {
      tr {
        @apply cursor-pointer;
        @apply hover:bg-zinc-100;
        // @apply active:bg-zinc-200;

        // td.lucid-datatable-cell-sorted {
        //   @apply bg-zinc-200;
        //   @apply border-r border-l;
        //   @apply border-zinc-300;
        // }
      }

      tr:first-of-type {
        td {
          @apply border-t-0;
        }
      }

      tr:nth-child(2n) {
        @apply bg-zinc-50;
      }

      tr.lucid-datatable-row-selected {
        @apply bg-blue-200;
        // @apply active:bg-blue-300;
      }
    }
  }
}

.lucid-datatable-page-description {
  @apply text-zinc-500;
}
